/* Footer design */
.footer {
  p {
    top: 40px;
    right: 0px;
    color: $gray-light;
  }
  a:hover {
    color: $red;
  }
  .wrapper-brown p {
    top: 40px;
    right: 0px;
  }
}
.wrapper-brown {
  background-color: $gray-darker ;
  color: $gray-light;
  padding: 20px;
  a {
    transition: 0.2s;
    color: $gray-light;
    font-size: 40px;
    &:hover {
      color: $red;
      filter: blur(1px)
    }
  }
}
